/* @font-face {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  src: url(./fonts/SpoqaHanSansNeo-Regular.ttf) format('truetype');
} */
@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {margin: 0; padding: 0;}
body {font-family: 'Spoqa Han Sans Neo', 'sans-serif';
position: relative;}
li {list-style: none;}
a {text-decoration: none; color: #000;}
img {display: block;}

/* ---------- header ---------- */
.header {
  width: 100%; /* height: 50px; */
  position: relative;
}
.header_top {
  width: 100%; height: 50px;
}
.header_top .header_logo {
  width: 25%;
  max-height: 35px;
  float: left;
}
.header_top .header_logo img {
  max-height: 35px;
  margin: 10px 0 0 12px;
}
.header_top .mobile_gnb {
  float: right;
  overflow: hidden;
}
.header_top .mobile_gnb>li{
  float: left;
  margin-right: 12px;
  font-size: 1.1rem;
  line-height: 50px;
}
.header_top .mobile_gnb .btn_menu {
  width: 1.1rem;
  display: inline
}
.header_top .mobile_gnb .btn_menu .btn_hammenu {
  position: relative;
  width: 18px; height: 13px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.header_top .mobile_gnb .btn_menu .btn_hammenu span {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  border: 1px solid #000;
  transition: all 0.3s;
  background-color: #000;
}
.header_top .mobile_gnb .btn_menu .btn_hammenu .ham_top {
  top: -7px;
}
.header_top .mobile_gnb .btn_menu .btn_hammenu .ham_middle {
  top: -1px;
}
.header_top .mobile_gnb .btn_menu .btn_hammenu .ham_bottom {
  bottom: 5px;
}
.header_top .mobile_gnb .btn_menu .btn_hammenu.active .ham_top {
  transform: translateY(6px) rotate(-45deg);
}
.header_top .mobile_gnb .btn_menu .btn_hammenu.active .ham_middle {
  opacity: 0;
}
.header_top .mobile_gnb .btn_menu .btn_hammenu.active .ham_bottom {
  transform: translateY(-6px) rotate(45deg);
}


.header_top .pc_gnb {
  float: right;
  display: none;
}
.header_top .pc_gnb li {
  font-size: 0.625rem;
  display: inline-block;
  line-height: 50px;
  margin-right: 20px;
  transition: all 0.2s;
}
.header_top .pc_gnb li:hover {
  font-weight: bold;
}

.lnb_box {
  width: 100%; height: 40px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: none;
}
.lnb {
  width: 100%; height: 40px;
  margin: 0 auto;
  font-size: 0.825rem;
  position: relative;
}
.lnb .lnb_menu {
  width: 14.285714%;
  height: 40px;
  float: left;
}

.lnb .lnb_menu>a {
  display: block;
  line-height: 40px;
  margin-left: 20px;
  transition: all 0.2s;
}
.lnb .lnb_menu>a:hover {
  font-weight: bold;
}
.lnb .lnb_menu ul {
  width: 14.285714%;
  height: 245px;
  border-top: 1px solid #ccc;
  position: absolute;
  top: 40px;
  z-index: 3333;
  background-color: #fff;
  display: none;
}
.lnb .lnb_menu ul li {
  width: 100%; height: 35px;
  padding: 8px 0 8px 15px;
  box-sizing: border-box;
  transition: all 0.2s;
}
.lnb .lnb_menu ul li:hover {
  background-color: #eee;
  font-weight: bold;
}
.lnb .lnb_menu ul li a {
  display: block;
  font-size: 0.75rem;
  color: #444;
}
.lnb:hover .lnb_menu ul {display: block;}
    /* 풀다운 */


/* ---------- ham_menu ---------- */
.ham_menu {
  width: 100%; height: 100vh;
  font-size: 14px;
  position: absolute;
  background-color: #fff;
  z-index: 22222;
  left :-1000px;
  transition: all 0.5s
}
.menu_left {
  left: 0;
}
.ham_menu>ul {
  width: 100%; height: 40px;
  line-height: 40px;
  border-top: 1px solid #ccc;
}
.ham_menu>ul:last-child {
  border-bottom: 1px solid #ccc;
}
.ham_menu .ham_menu>ul>li i {
  font-size: 1.3rem;
}
.ham_menu .ham_menu01 li {
  width: 25%;
  float: left;
  text-align: center;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}
.ham_menu .ham_menu01 li:last-child {
  border-right: none;
}
.ham_menu .ham_menu01 li a {
  display: block;
}
.ham_menu .ham_menu02 li {
  width: 50%;
  float: left;
  text-align: center;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}
.ham_menu .ham_menu02 li:last-child {
  border-right: none;
}
.ham_menu .ham_menu02 li a {
  margin-right: 20px;
}
.ham_menu .ham_menu02 li a:last-child {
  margin-right: none;
}

.ham_menu .ham_list {
  width: 100%;
}
.ham_menu .ham_list_wrap {
  width: 100%;
}
.ham_menu .ham_list_wrap .ham_list .collapsible {
  width: 100%; height: 40px;
  border: none;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.ham_menu .ham_list_wrap .ham_list .collapsible span:first-child {
  float: left;
  margin-left: 18px;
  font-weight: bold;
}
.ham_menu .ham_list_wrap .ham_list .collapsible span:nth-child(2) {
  float: right;
  margin-right: 18px;
}
.ham_menu .ham_list_wrap .ham_list .ham_menu_li {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.ham_menu .ham_list_wrap .ham_list .ham_menu_li li {
  width: 100%; height: 40px;
  border-top: 1px solid #ccc;
  background-color: #eee;
}
.ham_menu .ham_list_wrap .ham_list .ham_menu_li li a {
  display: block;
  margin-left: 30px;
  line-height: 40px;
}

/* ---------- visual_main (Swiper 포함)---------- */
.visual_main {
  position: relative;
  overflow: hidden;
  max-width: 1960px;
  margin: 0 auto;
}
.swiper-wrapper {
  display: -webkit-inline-box
}
.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.main_slide {
  width: 100%; height: 80%;
  position: relative;
}
.main_slide .swiper-pagination {
  width: 100%;
  bottom: -5%;
  display: flex;
  justify-content: space-between;
}
.main_slide .swiper-pagination-bullet {
  background-color: #fff;
  opacity: 0.4;
  width: 19%; height: 4px;
  border-radius: 0;
  display: none;
}
.main_slide .swiper-pagination-bullet-active {
  background-color: #2e3192;
  opacity: 1;
  width: 19%; height: 4px;
  border-radius: 0;
}
.slide_thum {
  width: 100%;
  position: absolute;
  bottom: 5%; left: 0%;
  transform: translateY(300px);
  transition: all 0.4s;
}
.slide_thum .thum_box {
  width: 60%;
  margin: 0 auto;
  display: none;
}
.slide_thum .swiper-wrapper {
  width: 100%;
  margin: 0 auto;
}
.slide_thum .swiper-slide {
  width: 20%;
  opacity: 0.4;
  cursor: pointer;
  border: 1px solid #eee;
}
.slide_thum .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  width: 100%;
}

/* ---------- metaphor ---------- */
.metaphor {
  width: 100%;
  margin: 5% auto;
}
.metaphor_line {
  width: 75%;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.metaphor_line .met_icon {
  width: 18%; 
}

.metaphor_line .met_icon img {
  width: 100%;
}
.metaphor_line .met_icon p {
  text-align: center;
  font-size: 0.8rem;
}

/* ---------- weekly_schedule ---------- */
.weekly_schedule {
  width: 100%; height: 300px;
  margin: 0 auto 100px;
  padding: 0 4%;
  box-sizing: border-box;
}
.main_title {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 9% 0 4%;
  text-align: center;
}
.schedule_box {
  width: 100%;
}
.schedule_box .weekly_title {
  position: relative;
  width: 100%; height: 40px;
  background-color: #2e3192;
  font-size: 0.9rem;
  font-weight: bold;
  overflow: hidden;
}
.schedule_box .weekly_title ul {
  width: 500%;
  overflow: hidden;
  transform: translateX(0);
}
.schedule_box .weekly_title ul li {
  width: 20%;
  color: #fff;
  float: left;
  text-align: center;
  line-height: 40px;
}
.schedule_box .weekly_title div {
  position: absolute;
  color: #fff;
  top: 20%;
}
.schedule_box .weekly_title .weekly_left_btn {
  cursor:pointer;
  left: 5%;}
.schedule_box .weekly_title .weekly_right_btn {
  cursor:pointer;
  right: 5%;}

.schedule_box .weekly_list_box {
  width: 100%;
  border: 1px solid #eee;
  padding: 5%;
  box-sizing: border-box;
}
.schedule_box .weekly_list_box .weekly_list {
  width: 100%; height: 210px;
  overflow-x: hidden;
}

.schedule_box .weekly_list_box .week02,
.schedule_box .weekly_list_box .week03,
.schedule_box .weekly_list_box .week04 {
  display: none;
}
.schedule_box .weekly_list_box li{
  width: 100%; height: 30px;
}
.schedule_box .weekly_list_box li .grade{
  width: 15px; height: 15px;
  float: left;
  margin: 5px 10px 0 0;
}
.grade_all{
  background-image: url(./images/all.svg);
}
.grade12{
  background-image: url(./images/12.svg);
}
.grade15{
  background-image: url(./images/15.svg);
}
.grade18{
  background-image: url(./images/18.svg);
}
.schedule_box .weekly_list_box li .weekly_movie_title {
  width: 90%; height: 30px;
  float: left;
  font-size: 0.875rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 30px;
}
.schedule_box .weekly_list_box .weekly_down_scroll {
  width: 100%;
  text-align: center;
}

.schedule_box .weekly_poster_box {
  border: 1px solid #eee;
  padding: 5%;
  box-sizing: border-box;
  display: none;
}

.schedule_box .weekly_poster_box .weekly_poster {
  width: 100%;
}
.schedule_box .weekly_poster_box .weekly_poster img {
  width: 100%;
}
.schedule_box .weekly_poster_box .weekly_poster p {
  font-size: 0.875rem;
  text-align: center;
  margin-top: 10px;
}
/* @keyframes poster_change {
  0% {background-image: url(./images/movie01.jpg);}
  50% {background-image: url(./images/movie04.jpg);}
  100% {background-image: url(./images/movie05.jpg);}
} */


/* ---------- .schedule ---------- */
.schedule {
  justify-content: center;
  align-items: center;
  display: none;
}
.schedule>div,
.schedule>ul {
  width: calc((100% - 20%) / 6 );
  height: 300px;
  border: 1px solid #eee;
  box-sizing: border-box;
}
.schedule .calendar {
  width: 20%;
}
.schedule .calendar .calendar_header {
  width: 100%; height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2e3192;
  color: #fff;
  padding: 5%;
  box-sizing: border-box;
  font-size: 14px;
}

.schedule .calendar .calendar_header .calendar_nav .nav_btn  {
  width: 28px;
  height: 30px;
  border: none;
  font-size: 16px;
  line-height: 34px;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
}

.schedule .calendar .calendar_main {
  padding: 5%;
  box-sizing: border-box;
}
.schedule .calendar .calendar_main .days {
  display: flex;
  margin: 10px 0;
  font-size: 0.875rem;
}
.schedule .calendar .calendar_main .day {
  width: calc(100% / 7);
  text-align: center;
}
.schedule .calendar .calendar_main .dates {
  display: flex;
  flex-flow: row wrap;
  height: 200px;
  font-size: 0.875rem;
}
.schedule .calendar .calendar_main .date {
  width: calc(100% / 7);
}
.schedule .calendar .calendar_main .day:nth-child(7n + 1),
.schedule .calendar .calendar_main .date:nth-child(7n + 1) {
  color: #D13E3E;;
}

.schedule .cinema_list .cinema_list_header {
  width: 100%; height: 50px;
  background-color: #2e3192;
  line-height: 50px;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
}
.schedule .cinema_list .weekly_movie_title {
  font-size: 13px;
}
.schedule .cinema_list li .grade{
  width: 15px; height: 15px;
  float: left;
  margin: 5px 10px 0 5px;
}

/* ---------- trailer ---------- */
.trailer {
  width: 100%;
  background-color: #caecee;
  padding: 25px 0;
  box-sizing: border-box;
  margin: 80px 0;
  animation-name: trailer_bg ;
  animation-duration: 92s;
  animation-iteration-count: infinite;
}
@keyframes trailer_bg {
  0% {background-color: #caecee;}
  34% {background-color: #caecee;}
  39% {background-color: #cccccc;}
  66% {background-color: #cccccc;}
  70% {background-color: #4f8bb3;}
  100% {background-color: #4f8bb3;}
}

.trailer_info {
  width: 90%;
  margin: 15px auto 0;
}
.trailer_info .trailer_sub_title {
  font-size: 0.95rem;
  color: #2e3192;
}
.trailer_info .trailer_main_title {
  font-weight: bold;
}
.trailer_info .trailer_txt {
  font-size: 0.875rem;
  margin-top: 10px;
}

/* ---------- recommend ---------- */
#rad_recommend_movie, #rad_recommend_performance, #rad_recommend_exhibit {display: none;}

#rad_recommend_movie:checked ~ .recommend_labels .lab_movie,
#rad_recommend_performance:checked ~ .recommend_labels .lab_performance,
#rad_recommend_exhibit:checked ~ .recommend_labels .lab_exhibit { 
  background-color: #2e3192;
  color: #fff;
  border: none;
}
#rad_recommend_movie:checked ~ .recommend_sheets .recommend_movie,
#rad_recommend_performance:checked ~ .recommend_sheets .recommend_performance,
#rad_recommend_exhibit:checked ~ .recommend_sheets .recommend_exhibit { 
  display: block;
}

.recommend {
  width: 100%;
  margin-bottom: 20%;
}

.page_button {
  overflow: hidden;
  float: right;
  margin-bottom: 3%;
  display: none;
}
.page_button a {
  display: block;
  width: 25px; height: 25px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 25px;
  float: left;
}

.recommend_labels{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.recommend_labels label{
  padding: 3px 15px;
  font-size: 0.85rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.recommend_labels label:last-child{
  margin-right: none;
}

.recommend_sheets {
  width: 100%;
}
.recommend_sheets .recommend_sheet {
  display: none;
}
.recommend_sheet .reco_frame {
  width: 100%;
  /* position: relative; */
  overflow-y: hidden;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
.recommend_sheet .reco_frame::-webkit-scrollbar {
  display: none;
}

.recommend_sheet .recommend_contents {
  width: 400%;
  transition: left 0.5s ease-out;
  /* position: absolute;
  top:0px; left: 0; */
  display: flex;
  justify-content: center;
  transform: translateX(0);
  transition: all 0.5s;
}
.recommend_sheet .recommend_content {
  width: 11.5%;
  margin: 0 15px;
}
.recommend_exhibit .recommend_contents {
  width: 100%;
}
.recommend_exhibit .recommend_content {
  width: 50%;
}
.recommend_sheet .recommend_content .reco_title{
  font-size: 0.875rem;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  padding: 0 5%;
}
.recommend_sheet .recommend_content .reco_date{
  font-size: 0.75rem;
  text-align: center;
}
.recommend_sheet .recommend_content .reco_poster {
  width: 100%;
  box-shadow: 2px 2px 5px #bbb;
  margin: 15px 0 10px;
  position: relative;
}
.recommend_sheet .recommend_content .reco_poster img {
  width: 100%;
}
.recommend_sheet .recommend_content .reco_poster a {
  font-size: 1.4rem;
  position: absolute;
  top: 2%; right: 5%;
}

.recommend_sheet .recommend_content .reco_btn {
  display: flex;
  justify-content: center;
}
.recommend_sheet .recommend_content .reco_btn a{
  font-size: 0.75rem;
  padding: 4px 15px;
  background-color: #eee;
  border-radius: 20px;
}
.recommend_sheet .recommend_content .reco_btn a:first-child{
  margin-right: 10px;
  background-color: #2e3192;
  color: #fff;
}

/* ---------- critic ---------- */
.critic {
  margin-bottom: 100px;
}
.critic .critic_outer {
  width: 100%;
  overflow: hidden;
}
.critic .critic_main {
  width: 100%;
  transition: all 0.5s;
}

.critic_box {
  width: 100%;
  margin: 0 auto 20px;
  box-shadow: 2px 2px 5px #bbb;
  overflow: hidden;
  max-height: 280px;
}
.critic_box:nth-child(2n) {
  display: none;
}
.critic_box .critic_img {
  width: 50%;
  float: left;
  overflow: hidden;
}
.critic_box .critic_img img{
  width: 250%;
  transform: translateX(-25%);
}
.critic_box .critic_info {
  width: 50%;
  float: left;
  padding: 3%;
  box-sizing: border-box;
}
.critic_box .critic_info .critic_main_title {
  width: 100%;
  font-weight: 500;
  font-size: 0.875rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.critic_box .critic_info .critic_sub_title {
  font-size: 0.7rem;
  margin-bottom: 15px;
}
.critic_box .critic_info .critic_txt {
  width: 100%;
}
.critic_box .critic_info .critic_txt p {
  width: 100%;
  font-size: 0.75rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.4;
  height: 12.6em;
}

.btn_critic {
  font-size: 0.75rem;
  padding: 4px 15px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 20px;
  margin-left: calc(50% - (18px * 2));
}


/* ---------- event ---------- */
.event_frame {
  width: 100%;
  overflow-y: hidden;
  margin-bottom: 60px;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
.event_frame::-webkit-scrollbar {
  display: none;
}

.event_frame .event_wrap {
  width: 1600%;
  display: flex;
  overflow: hidden;
  transition: all 0.5s;
}
.event_frame .event_wrap .event_banner {
  width: 6%;
  margin-right: 8px;
}
.event_frame .event_wrap .event_banner img {
  width: 100%;
}

/* ---------- sns ---------- */
.sns {margin-bottom: 100px;}
.sns_wrap {
  width: 100%;
}
.sns_wrap .sns_box_top>div{
  width: 100%;
  overflow: hidden;
}
.sns_wrap .sns_box_top div .sns_facebook{
  width: 65%;
  float: left;
}
.sns_wrap .sns_box_top div .sns_insta{
  width: 35%;
  float: left;
}
.sns_wrap .sns_box_top div .sns_facebook .sns_poster img,
.sns_wrap .sns_box_top div .sns_insta .sns_poster img {
  width: 100%;
}

.sns_wrap .sns_blog {
  width: 100%;
}
.sns_wrap .sns_blog .blog_img_mobile {
  width: 100%;
}
.sns_wrap .sns_blog .blog_img_tablet {
  display: none;
}
.sns_wrap .sns_blog img {
  width: 100%;
}

.sns_youtube_wrap {
  overflow: hidden;
}
.sns_youtube_wrap .sns_youtube {
  width: 50%;
  float: left;
}
.sns_youtube_wrap .sns_youtube img {
  width: 100%;
}

.sns_common .sns_content {
  position: relative;
} 
.sns_common .sns_content .sns_tag {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0 5px 2px;
  border-radius: 4px;
  position: absolute;
} 
.sns_common .sns_content .sns_tag .sns_tag_title {
  display: inline;
} 
.sns_common .sns_content .sns_tag .sns_tag_title img {
  width: 15px;
  margin-top: 6px;
  float: left;
} 
.sns_common .sns_content .sns_tag .sns_tag_title span {
  color: #fff;
  font-size: 0.7rem;
  font-weight: 200;
  margin-left: 3px;
} 

/* ---------- map_notice_wrap ---------- */
.map_notice_wrap {display: block;}
/* ---------- map ---------- */
#inp_directions {display: none;}
#inp_directions:checked ~ .directions_traffic {display: none;}

.map {
  width: 100%;
}
.directions {
  display: block;
  width: 100%; height: 40px;
  background-color: #f6f2ef;
}
.directions span{
  font-weight: bold;
  float: left;
  line-height: 40px;
  margin-left: 5%;
}
.directions i{
  float: right;
  line-height: 40px;
  margin-right: 5%;
}
.directions_traffic{
  width: 100%;
  background-color: #fcf8f5;
  padding: 5%;
  box-sizing: border-box;
  font-size: 0.875rem;
}
.directions_traffic .direction_flight{
  margin: 20px 0;
}

/* ---------- notice ---------- */
.notice {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.notice>div{
  width: 47%;
  border: 1px solid #ccc;
  padding: 2%;
  box-sizing: border-box;
}
.notice .notice_title {
  width: 100%; height: 20px;
  font-weight: bold;
  font-size: 0.875rem;
  margin: 10px 0;
}
.notice .notice_title span {
  float: left;
}
.notice .notice_title a {
  float: right;
}
.notice .notice_list li {
  font-size: 0.75rem;
  overflow: hidden;
  margin-bottom: 5px;
}
.notice .notice_list li a {
  width: 75%;
  float: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.notice .notice_list li span:nth-child(2) {
  width: 25%;
  float: right;
  font-size: 0.6rem;
  text-align: right;
}

/* ---------- footer ---------- */
.footer {margin-top: 100px;}
.right {
  float: right;
  margin-right: 2%;
}
.left {
  float: left;
  margin-left: 2%;
}
.footer_top .footer_content {
  width: 100%; height: 40px;
  border-bottom: 1px solid #ccc;
  font-size: 0.825rem;
}
.footer_top .footer_content .footer_title {
  line-height: 40px;
}
.footer_top .newsletter {
  border-top: 1px solid #ccc;
}
.footer_top .newsletter a {
  padding: 5px 20px;
  background-color: #2e3192;
  border-radius: 20px;
  color: #fff;
  margin-top: 6px;
}

#chk_footer_menu {display: none;}
#chk_footer_menu:checked ~ .footer_menu_open {display: block;}

.footer_top .footer_menu {
  background-color: #eee;
  position: relative;
}
.footer_top .footer_menu label i {
  float: right;
  margin-right: 5%;
  line-height: 40px;
}
.footer_top .footer_menu .footer_menu_open {
  position: absolute;
  top: 40px; left: 0;
  width: 100%; height: 130px;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
  display: none;
  z-index: 2222;
}
.footer_top .footer_menu .footer_menu_open ul{
  float: left;
  margin-left: 16%;
}
.footer_top .footer_menu .footer_menu_open li{
  margin: 10px 0;
}

.footer_top .footer_menu_pc {
  display: none;
  overflow: hidden;
}
.footer_top .footer_menu_pc ul{
  float: left;
  line-height: 20px;
  border-right: 1px solid #ccc;
  padding: 0 8%;
  box-sizing: border-box;
  font-size: 0.75rem;
  order: 1;
}

.footer_top .organization .organization_slide,
.footer_top .mecenat .mecenat_slide {
  width: 50%;
  overflow: hidden;
}
.footer_top .organization .organization_slide .organization_slide_wrap {
  display: flex;
  width: 1050%;
  animation-name: organization_slide;
  animation-iteration-count: infinite;
  animation-duration: 40s;
}
@keyframes organization_slide {
  0% {transform: translateX(0);}
  10% {transform: translateX(-9.090908%);}
  20% {transform: translateX(-18.181816%);}
  30% {transform: translateX(-27.272724%);}
  40% {transform: translateX(-36.363632%);}
  50% {transform: translateX(-45.45454%);}
  60% {transform: translateX(-54.545448%);}
  70% {transform: translateX(-63.636356%);}
  80% {transform: translateX(-72.727264%);}
  90% {transform: translateX(-81.818172%);}
  100% {transform: translateX(-90.90908%);}
}
.footer_top .organization .organization_slide .organization_slide_wrap a {
  width: 4.8%;
  max-height: 30px;
  margin-right: 5px;
  margin-top: 8px;
}
.footer_top .organization .organization_slide .organization_slide_wrap img,
.footer_top .mecenat .mecenat_slide .mecenat_slide_wrap img {
  width: 100%;
  max-width: 100.625px;
  max-height: 30px;
} 
.footer_top .mecenat .mecenat_slide .mecenat_slide_wrap {
  display: flex;
  width: 300%;
  animation-name: mecenat_slide;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}
@keyframes mecenat_slide {
  0% {transform: translateX(0);}
  50% {transform: translateX(-33.333332%);}
  100% {transform: translateX(-66.666664%);}
}
.footer_top .mecenat .mecenat_slide .mecenat_slide_wrap a {
  width: 16.666666%;
  max-height: 30px;
  margin-right: 5px;
  margin-top: 8px;
}

.footer_bottom {
  background-color: #eee;
  padding: 5%;
}
.footer_bottom ul {
  margin: 20px 0;
}
.footer_bottom ul li {
  font-size: 0.75rem;
  color: #666;
  margin-bottom: 5px;
  text-align: center;
}
.footer_bottom ul li a{
  font-size: 0.625rem;
  border-radius: 20px;
  margin-left: 5px;
  background-color: #999;
  color: #fff;
  font-weight: 200;
  padding: 2px;
}
.footer_bottom .footer_logos {
  height: 45px;
  display: flex;
}
.footer_bottom .footer_logos div {
  width: 125px;
}
.footer_bottom .footer_logos div:nth-child(2) {
  margin-left: 20px;
}
.footer_bottom .footer_logos div img {
  width: 100%;
}

/* ---------- quick ---------- */
.quick {
  position: fixed;
  bottom: 5%; right: 2%
}
.quick a {
  display: block;
  width: 40px; height: 40px;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 3px;
  box-sizing: border-box;
}
.quick .quick_reserve {
  font-size: 0.625rem;
  background-color: #2e3192;
  color: #fff;
  padding-top: 5px;
  animation-name: quick_color;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}
@keyframes quick_color {
  0% {background-color: #2e3192;}
  25% {background-color: #ee1997;}
  50% {background-color: #8dc854;}
  75% {background-color: #1ab6f1;}
  100% {background-color: #2e3192;}
  
}
.quick .btn_arrow {
  font-size: 1.2rem;
  background-color: #fff;
  line-height: 40px;
  border: 1px solid #888;
}


/* ---------- quick_reserve_modal ---------- */
#rad_movie, #rad_perform, #rad_exhibit {
  display: none;
}
.quick_reserve_box .modal_program .modal_movie,
.quick_reserve_box .modal_program .modal_performance,
.quick_reserve_box .modal_program .modal_exhibit {
  display: none;
}

#rad_movie:checked ~ .modal_program .modal_movie,
#rad_perform:checked ~ .modal_program .modal_performance,
#rad_exhibit:checked ~ .modal_program .modal_exhibit {
  display: block;
}

#rad_movie:checked ~ .modal_program_type .label_movie,
#rad_perform:checked ~ .modal_program_type .label_perform,
#rad_exhibit:checked ~ .modal_program_type .label_exhibit {
  background-color: #2e3192;
  color: #fff;
}

.quick_reserve_modal {
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0; left: 0;
  overflow: hidden;
  display: none;
}
.show_modal {
  display: block;
}

.quick_reserve_box {
  width: 90vw; height: 90vh;
  max-width: 450px;
  max-height: 650px;
  background-color: #fff;
  margin: 5% auto;
  font-size: 12px;
}

.quick_reserve_box>li {
  text-align: center;
}
.quick_reserve_box>li:nth-child(2n+1) {
  background-color: #eee;
}
.quick_reserve_box>li button {
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: transparent
}
.quick_reserve_box .modal_title_box {
  height: 4%;
}
.quick_reserve_box .modal_title {
  font-weight: bold;
  font-size: 13px;
  padding: 7px 0;
  box-sizing: border-box;
  text-align: center;

}
.quick_reserve_box .modal_title_box .modal_title {
  font-weight: bold;
  margin-bottom: 10px;
}
.quick_reserve_box .modal_title_box .modal_title .modal_close {
 border: none;
 font-weight: bold;
 font-size: 16px;
 padding: 0;
}
.quick_reserve_box .modal_title_box {
  font-weight: bold;
}
.quick_reserve_box .modal_title_box p{
  text-align: center;
}

.quick_reserve_box .modal_program_type {
  height: 9%;
  box-sizing: border-box;
}
.quick_reserve_box .modal_program_type label{
  display: inline-block;
  width: 68px; height: 25px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 2px;
  line-height: 25px;
}
.quick_reserve_box .modal_program_type label:nth-child(2){
  margin: 0 20px;
}
.quick_reserve_box .modal_program_type label{
  display: inline-block;
  width: 65px; height: 25px;
  cursor: pointer;
  border: 1px solid #ccc;
  line-height: 25px;
  margin-top: 10px
}


.quick_reserve_box .modal_date {
  height: 12%;
  padding: 0 10px;
  box-sizing: border-box;
}
.quick_reserve_box .modal_date .modal_date_title{
  width: 100%;
  overflow: hidden;
}
.quick_reserve_box .modal_date .reserve_DD {
  overflow-y: hidden;
}
.quick_reserve_box .modal_date .reserve_DD::-webkit-scrollbar {
  height: 7px;
}

.reserve_DD::-webkit-scrollbar-thumb {
    background: #2e3192;
    border-radius: 10px;
}

.reserve_DD::-webkit-scrollbar-track {
    background: #ccc; 
}
.quick_reserve_box .modal_date .reserve_date_slide span {
  margin-right: 10px;
}
.date_selected {
  color: #2e3192;
  font-weight: bold;
}

.quick_reserve_box .modal_program {
  height: 22%;
  overflow-x: hidden;
}
.quick_reserve_box .modal_program .list_link {
  width: 70%;
  margin: 0 auto 10px;
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}
.quick_reserve_box .modal_program .modal_grade{
  width: 15px; height: 15px;
  float: left;
  margin-right: 15px;
}
.quick_reserve_box .modal_program .modal_program_title{
  width: calc(100% - 30px);
  float: left;
  /* text-align: left; */
}


.quick_reserve_box .modal_sheets {
  height: 35%;
  padding: 10px 0;
  box-sizing: border-box;
}
.quick_reserve_box .modal_sheets .screen {
  width: 200px; height: 15px;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 7px;
  border: 1px solid #ccc;
}
.quick_reserve_box .modal_sheets .sheet_choice {
  width: 280px; height: 80%;
  margin: 0 auto;
}
.quick_reserve_box .modal_sheets .sheet_choice .row:nth-child(2n) {
  margin: 5px 0;
}
.quick_reserve_box .modal_sheets .sheet_choice .row .seat {
  display: inline-block;
  width: 16px; height: 16px;
  cursor: pointer;
  font-size: 10px;
  margin: 2px;
  border: 1px solid #ccc;
}
.seat_color_change {
  background-color: #2e3192;
  color: #fff;
}

.quick_reserve_box .modal_total{
  height: 21%;
}
.quick_reserve_box .modal_total .total_info{
  height: 60%;
}
.quick_reserve_box .modal_total .total_info .modal_title_name{
  font-weight: bold;
  margin: 5px 0;
}
.quick_reserve_box .modal_total .total_btn{
  height: 40%;
}
.quick_reserve_box .modal_total .total_btn button{
  cursor: pointer;
}



/* ---------- float_banner ---------- */
.float_banner_box {
  position: fixed;
  bottom: 20%; left: 1%;
  display: none;
  z-index: 88888;
}
.float_banner_box .float_banner {
  position: relative;
  width: 350px; height: 206px;
  overflow: hidden;
}
.float_banner_box .float_banner .float_banner_close {
  display: block;
  background-image: url(./images/float_banner_thumbnail.png);
  width: 80px; height: 80px;
  position: absolute;
  bottom: 0;
  border-radius: 60px;
  cursor: pointer;
  transition: all 0.2s;
  animation-name: floating;
  animation-duration: 1.1s;
  animation-iteration-count: infinite;
}

@keyframes floating {
  0% {transform: translateY(0px);}
  50% {transform: translateY(-6px);}
  100% {transform: translateY(0px);}
}

.float_banner_box .float_banner .float_banner_close:hover {
  background-image: url(./images/float_banner01.jpg);
  width: 350px; height: 206px;
  animation-name: none;
}

/* ---------- popup ---------- */
#chk_popup {display: none;}
#chk_popup:checked ~ .popup {display: block;}
#chk_popup ~ .popup {display: none;}

.popup {
  visibility: hidden;
  width: 0px; height: 0px;
  background-color: #fff;
  position: absolute;
  top: 250px; left: 10%;
  z-index: 99999;
  border: 1px solid #ccc;
}
.popup .popup_box {
  display: block;
  height: 296px;
}
.popup .label_popup01,
.popup .label_popup02 {
  display: inline-block;
  font-size: 0.625rem;
  text-align: center;
  width: 48%; height: 30px;
  line-height: 30px;
  cursor: pointer;
  transition: all 0.2s;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
}
.popup .popup_box .label_popup01 {
  border-right: 1px solid #ccc;
}
.popup .label_popup:hover {
  font-weight: bold;
}


/* ---------- media query ---------- */
@media all and (min-width: 601px) {
  .visual_main .visual_thumbnail {display: block;}

  .metaphor {
    display: flex;
    width: 90%;
  }

  .trailer {
    margin-top: 20%;
    display: flex;
    padding: 25px 20px;
  }
  .trailer video {width: 70%;}
  .trailer .trailer_info {
    width: 30%;
    order: -1;
    margin-right: 2%;
  }
  .critic_box:nth-child(2n) {
    display: flex;
  }
  .event_frame .event_wrap {width: 800%;}
  .event_frame .event_wrap .event_banner {width: 12.5%}

  .sns_wrap {display: flex;}
  .sns_wrap .sns_box_top {width: 67%;}
  .sns_wrap .sns_blog {width: 33%;}
  .sns_wrap .sns_blog .blog_img_tablet {
  display: block;
  }
  .sns_wrap .sns_blog .blog_img_mobile {display: none;}

  .map {
    background-color: #f6f2ef;
    display: flex;
    padding: 3%;
    box-sizing: border-box;
  }
  .kakao_map {width: 40%;}
  .direction_wrap {
    width: 60%;
    order: -1;
  }
  .direction_wrap .directions i {display: none;}
  #inp_directions:checked ~ .directions_traffic {display: block;}

  .directions_traffic {background-color: #f6f2ef;}
  
  .footer_bottom {text-align: center;}
  .footer_bottom .footer_logos {justify-content: center;}
  .footer_bottom .footer_logos div {width: 160px;}
  .footer_top .organization .organization_slide,.footer_top .mecenat .mecenat_slide {width: 60%;}
  .footer_top .organization .organization_slide .organization_slide_wrap {width: 700%;}
  .footer_top .organization .organization_slide .organization_slide_wrap a {width: 7%;}
}


@media all and (min-width: 601px) and (max-width: 768px) {
  .recommend_sheet .reco_frame {
    height: 450px;
  }
  .schedule_box {
    display: flex;
    position: relative;
  }
  .schedule_box .weekly_title {position: absolute;}
  .schedule_box .weekly_list_box {width: 70%;
  margin-top: 40px;}
  .schedule_box .weekly_poster_box {
    width: 30%;
    margin-top: 40px;
    display: block;
  }

  .recommend_sheet .recommend_contents {width: 265%;}
  .recommend_sheet .recommend_content {width: 33.3;}
  .recommend_exhibit .recommend_contents {
    width: 65%;
    margin: 0 auto;
  }

  .critic .critic_main {
    display: flex;
    flex-wrap: wrap;
  }
  .critic .critic_main .critic_box {width: 48%;}

  
}

@media all and (min-width: 769px) {
  .header .mobile_gnb {display: none;}
  .header .pc_gnb {display: block;}

  .header .lnb_box {display: block;}
  .header .lnb {display: block;}

  .ham_menu {display: none;}

  .metaphor {width: 80%;}
  .metaphor_line .met_icon {width: 12%;}

  .weekly_schedule {display: none;}
  .schedule {display: flex;}

  .recommend .page_button {display: block;}
  /* .recommend .reco_frame {
    overflow-y: block;
    overflow: hidden;
  } */
  
  .recommend_sheet .recommend_contents {width: 200%;}
  .recommend_sheet .recommend_content {
    width: 25;
  }
  .recommend_exhibit .recommend_contents {
    width: 50%;
    margin: 0 auto;
  }

  .critic .critic_main {
    width: 200%;
    display: flex;
    flex-wrap: nowrap;
  }
  .critic .btn_critic {display: none;}
  .critic .page_button {display: block;}
  
  .event_frame {
    overflow-y: block;
    overflow: hidden;
  }
  .event .page_button {display: block;}

  .map_notice_wrap {display: flex;}
  .map {width: 64%;}
  .notice {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
  }
  .notice>div {
    width: 98%;  
    height: 49%;
  }

  .footer .footer_top {
    display: flex;
    margin-bottom: 20px;
  }
  .footer_top .newsletter {border-top: none;}
  .footer .footer_top .footer_content{
    border-bottom: none;
    height: 100%;
  }
  .footer .footer_top .organization,
  .footer .footer_top .mecenat {
    height: 50%;
  }
  .footer_top .footer_menu {display: none;}

  .footer_top .footer_menu_pc {display: block;
  width: 30%;}
  .footer_top .footer_wrap {
    width: 45%;
    order: 2;
    border-right: 1px solid #ccc;
  }
  .footer_top .newsletter {
    width: 25%;
    order: 3;
  }

  .float_banner_box {display: block;}
  .popup {
    visibility: visible;
    width: 200px; height: 296px;
  }
  
}

@media all and (min-width: 1024px) {
  .footer_top .organization .organization_slide,.footer_top .mecenat .mecenat_slide {width: 70%;}

  .footer_top .footer_menu_pc {
    width: 30%;}
    .footer_top .footer_wrap {
      width: 55%;
      order: 2;
      border-right: 1px solid #ccc;
    }
    .footer_top .newsletter {
      width: 35%;
      order: 3;
    }
}

@media all and (min-width: 1361px) {
  .header .header_top, .header .lnb {
    width: 1360px;
    margin-left: auto;
    margin-right: auto;
  } .metaphor, .schedule, .trailer, .recommend, .critic, .event, .sns, .map_notice_wrap, .footer {
    width: 1360px;
    margin: 4% auto;
  }
  .footer {
    margin-top: 10%;
  }
}


/* ---------- Swiper media query ---------- */
@media all and (min-width:601px){
  .slide_thum .thum_box {display: block;}
}
@media all and (min-width:601px) and (max-width:768px){
  .visual_main .slide_thum  {
    transform: translateY(0px);
  }
}

@media all and (min-width:769px){
  .main_slide .swiper-pagination-bullet {
    background-color: #fff;
    opacity: 0.4;
    width: 19%; height: 4px;
    border-radius: 0;
    display: block;
  }
  .main_slide .swiper-pagination-bullet-active {
    background-color: #2e3192;
    opacity: 1;
    width: 19%; height: 4px;
    border-radius: 0;
  }
  .slide_thum {
    width: 100%;
    position: absolute;
    bottom: 5%; left: 0%;
    transform: translateY(300px);
    transition: all 0.4s;
  }
  .visual_main:hover .slide_thum  {
  transform: translateY(0px);
  }
}



/* ---------- info_banner ---------- */
.info_banner {
  width: 300px; height: 200px;
  background-color: #fff;
  position: absolute;
  z-index: 99999;
  top: 250px; left: 400px;
  border: 1px solid #999;
}
.info_banner .banner_title {
  width: 300px; height:40px; 
  background-color: #2e3192;
  color: #fff;
  line-height: 40px;
}
.info_banner .banner_title span {
  margin-left: 15px;
  font-weight: bold;
}
.info_banner .banner_title button {
  border: none;
  background-color: transparent;
  float: right;
  margin: 7px 20px 0 0;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
}
.info_banner .banner_title {
  width: 300px; height:40px; 
  color: #fff;
  line-height: 40px;
  font-weight: bold;
}
.info_banner p{
  margin-bottom: 10px;
  padding: 8px 15px;
  box-sizing: border-box;
  font-size: 14px;
}
